# Telegram bot environment variables::

BOT_TOKEN=
# ...


# Variables de conexion a la base de datos
# ...


# Variables de conexion a las distintas APIs que puedan haber
OMDBAPI_KEY=

# ...


# etc
